@{
    ViewData["Title"] = "About XYZ ";
}
<article>
    <header class="jumbotron bg-dark text-light row">
        <h1 class="text-light col-sm-8">XYZ Detective Agency</h1>
        <img src="~/Images/scooby-and-scrappy.jpg" alt="scobby and scrappy doo" class="float-right rounded-circle mt-0 img-fluid col-sm-4" />
    </header>
    <p>
        Our agency was founded in 1960 by Scooby and Scrappy Doo.
        The agency expanded in the 1980's across the United States and is now the top
        agency in the midwest.
    </p>
    <p>
        In 2000, the agency expanded to Europe and in 2020, the agency will also be
        in Africa and Austrailia.
    </p>
</article>
