@{
    ViewData["Title"] = "Contact Us!";
}
<img src="~/Images/spying.jpg" alt="telescope on deck"
     style="width:25%;outline:5px black solid; outline-offset:10px;float:right;margin-top:2%;" />
<h2>XYZ Detective Agency</h2>
<h3>Headquarters</h3>
<address>
    One Sleuthton Ave<br />
    Traverse City, MI 49696<br />
    <abbr title="Phone">P:</abbr>
    800.555.1111
</address>

<address>
    <strong>United States:</strong>   <a href="mailto:us@xyzdetectives.org">us@xyzdetectives.org</a><br />
    <strong>Europe:</strong>   <a href="mailto:europe@xyzdetectives.org">europe@xyzdetectives.org</a><br />
    <strong>Africa:</strong> <a href="mailto:africa@xyzdetectives.org">africa@xyzdetectives.org</a><br />
    <strong>Austrailia:</strong> <a href="mailto:austrailia@xyzdetectives.org">australia@xyzdetectives.org</a><br />
</address>