
@{
    ViewData["Title"] = "ABC Corporation Staff";
    string[] staff = { "Freddie Flintstone", "Barney Rubble", "Betty Rubble", "Wilma Flintstone" };
    int staffLen = staff.Length;
    string[] managers = { "Pebbles Flintstone", "Johnny Quest", "Shaggy Rogers" };
    int managerLen = managers.Length;
    string[] officers = { "Scooby Doo", "Astro Jetson", "Scrappy Doo" };
    int officerLen = officers.Length;
    var x = 0;
}
<hr />
<img src="~/Images/detectives.jpg" alt="xyz detectives" style="float:right;width:200px;
outline:5px solid black;outline-offset:10px;" />
<h2>XYZ Detective Agency Staff</h2>
@for (x = 0; x < staffLen; x++)
{<p>@staff[x]</p>}
<hr />
<h2>XYZ Detective Agency Managers</h2>
@foreach (var person in managers)
{
    <p>@person</p>
}
<hr />
<h2>XYZ Detective Agency Corporate Office</h2>
@{
    x = 0;
    while (x < officerLen)
    {
        <p>@officers[x]</p>
        x += 1;
    }
} 
<hr />